<style media="screen">
  @import url("https://use.typekit.net/hwa4rob.css");

  .wFormContainer,
  .htmlSection .htmlContent span,
  .htmlSection .htmlContent
   {
    font-family: 'sofia-pro', sans-serif !important;
  }
  .wFormContainer p, .wFormContainer p span {
  font-size: 16px;
  color: #0a4069;
  }
  #header-fa {
  padding-top: 40px;
  }
  
  #foooter-fa {
  max-width: 770px;
  margin: auto;
  text-align: left;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #0a4069;
  }
  
  #foooter-fa a {
  color: #0a4069;
  }
  
  .wFormContainer .wForm .inputWrapper textarea:focus, .wFormContainer .wForm .inputWrapper textarea.required:focus, .wFormContainer .wForm .inputWrapper input[type="text"]:focus, .wFormContainer .wForm .inputWrapper input[type="text"].required:focus, .wFormContainer .wForm .inputWrapper input[type="password"]:focus, .wFormContainer .wForm .inputWrapper input[type="password"].required:focus, .wFormContainer .wForm .inputWrapper select:focus, .wFormContainer .wForm .inputWrapper select.required:focus {
  outline-style: auto;
  }
  
  .wFormContainer fieldset {
  border: 0 !important;
  margin: 2em 0 0.5em 0 !important;
  }
  
  .wForm fieldset {
  padding: 0;
  }
  
  .wFormContainer fieldset legend {
  font-weight: 700;
  }

  .required:not(.choices):not(select):not(.wfAutosuggest) {
      padding: 1.2rem!important;
  }
  
  .wFormContainer .wForm .inputWrapper input[type="text"], .wFormContainer .wForm .inputWrapper input[type="password"], .wFormContainer .wForm .inputWrapper input[type="file"], .wFormContainer .wForm .inputWrapper select:not([multiple]) {
  
  padding: 1.2rem!important;
  }
  
  .wFormContainer .wForm .inputWrapper input[type="text"], .wFormContainer .wForm .inputWrapper input[type="password"], .wFormContainer .wForm .inputWrapper input[type="file"], .wFormContainer .wForm .inputWrapper select:not([multiple]) {
  width: 100% !important;
  }
  
  .wForm .inputWrapper {

    width: 100% !important;
}

#tfa_215 {
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 10px;
}

.wForm .inline div.oneField {
width: 100% !important;
}


.wFormContainer .wForm .inputWrapper input[type="text"], .wFormContainer .wForm .inputWrapper input[type="password"], .wFormContainer .wForm .inputWrapper select, .wFormContainer .wForm .inputWrapper textarea {
width: 100% !important;
}

#4627793-WRPR .inputWrapper > div {
width: 100%;
}
#4627793-WRPR .inputWrapper > div input {
width: 100% !important;
}

.saveAndResume {
  text-align: left;
  margin-bottom: 30px;
}
</style>