a:focus-visible, a:focus, input:focus-visible, input:focus, button:focus-visible, button:focus {
      outline-offset: 3px;
      outline-width: 5px;
      // outline-color: cadetblue;
      // outline-style: auto;
}
