.staff-board-post-content{
    opacity: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    transition: opacity 0.9s 0.1s;
    display: grid;
    grid-template-columns: 28% calc(72% - 80px);
    grid-gap: 80px;
    @media only screen and (max-width: $standard-width) {
        grid-template-columns: 350px calc(100% - 430px);    
    }
    @media only screen and (max-width: $breakpoint-ipad-landscape) {
        padding-top: 40px;
        padding-bottom: 40px;
        grid-auto-flow: dense;
        grid-template-columns: auto;
        grid-gap: 40px;
        .g-1{
            float: left;
        }
        .g-2{
            float: right;
        }
    }
    ul{
        padding-left: 1.1em;
        margin-bottom: 30px;
        li{
            list-style: disc;
        }
    }
    ol{
        padding-left: 1.1em;
        margin-bottom: 30px;
        li{
            list-style: decimal;
        }
    }
    .title{
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 30px;
        color: $color-light-blue;
        max-width: 900px;
    }
    .back-button,
    .date,
    .author,
    .text{
        font-size: 20px;
        line-height: 32px;
        color: $color-dark-blue;
        h3,
        p{
            margin-bottom: 30px;
        }
        h3{
            font-size: 24px;
            font-weight: 700;
            color: $color-light-blue;
            &:empty{
                padding: 8px;
            }
        }
        a{
            font-weight: 700;
            color: $color-dark-blue;
            border-bottom: solid 1px $color-dark-blue;
            transition: color 0.3s, border 0.3s;
            &:hover{
                color: $color-orange;
                border-bottom: solid 1px $color-orange;
            }
        }
        img{
            max-width: 100%;
            height: auto;
        }
    }
    .image-wrapper{
        max-width: 394px;
        width: 100%;
        margin-bottom: 35px;
        .image{
            position: relative;
            width: 100%;
            height: 0px;
            padding-top: 72%;
            background: $color-light-gray;
            .img{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    .text{
        clear: both;
    }
    .icons{
        margin-top: 20px;
        margin-bottom: 50px;
        @media only screen and (max-width: $breakpoint-ipad-landscape) {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        span{
            display: none;
        }
        a{
            display: inline-block;
            margin-right: 10px;
            &.twitter{
                transform: translateY(-1px);
            }
        }
        svg{
            *{
                fill: $color-dark-blue;
                transition: fill 0.3s;
                &:hover{
                    fill: $color-orange;
                }
            }
        }
    }
    .back-button{
        font-weight: 700;
        color: $color-dark-blue;
        border-bottom: solid 1px $color-dark-blue;
        display: inline-block;
        transition: color 0.3s, border 0.3s;
        margin-top: 30px;
        cursor: pointer;
        &:hover{
            color: $color-orange;
            border-bottom: solid 1px $color-orange;
        }
    }
}
body{
    &.content-loaded{
        .staff-board-post-content{
            opacity: 1;
        }
    }
    &.large-fonts{
        .staff-board-post-content{
            .title{
                font-size: 40px;
                line-height: 55px;
            }
            .back-button,
            .date,
            .author,
            .text{
                font-size: 25px;
                line-height: 40px;
            }
            .text{
                h3,
                p{
                    margin-bottom: 37px;
                }
                h3{
                    font-size: 30px;
                }
            }
        }
    }
}
