.type-policy_actions-single {
  
  .wrap-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 80px;
  }
  
  .description-title {
    
  }
  
  .description {
    
  }
  
  .form-title {
    
  }
  
  
}