.module-single-feature{
    position: relative;
    background-color: $color-burgundy;
    .outer{
        padding-top: 80px;
        padding-bottom: 80px;
        background-repeat: no-repeat;
        background-image: url(assets/shape-module-single-feature.svg);
        background-position: 100% calc(100% + 243px);
        @media only screen and (max-width: $full-hd-width) {
            background-position: calc(100% + 36px) calc(100% + 243px);
        }
        @media only screen and (max-width: $standard-width) {
            background-position: calc(100% + 36px) calc(100% + 243px);
        }
        @media only screen and (max-width: $breakpoint-ipad-landscape) {
            background-position: calc(100% + 36px) calc(100% + 243px);
        }
        .inner{
            display: flex;
            @media only screen and (max-width: $breakpoint-ipad-landscape) {
                display: block;
            }
            .left{
                //float: left;
                width: 50%;
                padding-right: $margin-large-2;
                @media only screen and (max-width: $breakpoint-ipad-landscape) {
                    width: 100%;
                    padding-right: 0px;
                    padding-bottom: 50px;
                }
                @media (width < 768px) {
                    padding-bottom: 30px;
                }
            }
            .right{
                //float: right;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media only screen and (max-width: $breakpoint-ipad-landscape) {
                    width: 100%;
                }
            }
        }
    }
    .colorize{
        color: $color-orange;
    }
    .title{
        font-size: 64px;
        line-height: 68px;
        letter-spacing: -0.03em;
        font-weight: 400;
        color: white;
        @media(width < 768px){
            font-size: 42px;
            line-height: 46px;
        }
        a{
            color: white;
            //text-decoration: underline;
            font-weight: 600;
            transition: color 0.3s, border 0.3s;
            position: relative;
            &:after{
                position: absolute;
                bottom: 10px;
                left: 0px;
                content: ' ';
                width: 100%;
                border-bottom: solid 2px white;
                transition: border-color 0.3s;
            }
            &:hover{
                color: $color-orange;
                &:after{
                    border-color: $color-orange;
                }
            }
        }
    }
    .text{
        margin-bottom: 25px;
        font-size: 28px;
        line-height: 40px;
        color: $color-text-take-action;
        justify-content: normal;
    }
    .cta-button{
        font-size: 23px;
        line-height: 23px;
        font-weight: 600;
        color: white;
        svg{
            margin-left: 5px;
            *{
                fill: white;
                transition: fill 0.3s;
            }
        }
        a{
            font-weight: 600;
            color: white;
            transition: color 0.3s;
            border-bottom: none;
            &:after{
                display: none;
            }
            &:hover{
                color: $color-orange;
                svg{
                    *{
                        fill: $color-orange;
                    }
                }
            }
        }
    }
}
body.large-fonts{
    .module-single-feature{
        .outer{
            padding-top: 100px;
            padding-bottom: 100px;
            .title{
                font-size: 68px;
                line-height: 72px;
            }
            .text{
                margin-bottom: 25px;
                font-size: 35px;
                line-height: 50px;
            }
            .cta-button{
                font-size: 30px;
                line-height: 30px;
            }
        }
    }
}