// COLORS
$color-yellow: #F8DD38;
$color-green: #09B46C;
//$color-light-gray: #E5E5E5;



$color-light-gray: #F0F0EF;
$color-light-gray-Shape: #D1ECF2;
$color-light-gray-2: #EAEAE7;//???
$color-light-gray-3: #D0D0D0;//???
$color-blue: #00335A;//#002C4E;//#0D5082;
$color-blue-shape: #043052;
$color-blue-text: #6BA4CE;
$color-blue-2: #0D5082;
$color-footer-bg: #043052;
$color-dark-blue: #0A4069;
$color-light-blue: #00A3C1;//#159AB2;//#2B9CB7;
$color-light-blue-shape: #0E748D;
$color-light-blue-text: #A6DFED;
$color-orange: #F07C1D;//#E17A26;
$color-orange-shape: #BE6013;
$color-orange-text: #F2C49E;
$color-burgundy: #5F0D3A;//#581038;
$color-burgundy-shape: #6C3453;
$color-burgundy-text: #AF93A3;
$color-text-take-action: #AF93A3;
.asd{
    user-select: none;
}



// MQ BREAKPOINTS
$max-width: 1920px;
$full-hd-width: 1920px;
$standard-width: 1440px;
$breakpoint-ipad-pro-landscape: 1366px;
$breakpoint-ipad-pro-portrait: 1024px;
$breakpoint-ipad-portrait: 768px;
$breakpoint-ipad-landscape: 1024px;
$breakpoint-iphone-plus-portrait: 414px;
$breakpoint-iphone-plus-landscape: 736px;
$breakpoint-iphone-portrait: 375px;
$breakpoint-iphone-landscape: 667px;
$breakpoint-xs: 360px;
$breakpoint-xxs: 320px;

$margin-extra-large: 66px;
$margin-large: 66px;
$margin-medium: 66px;
$margin-small: 20px;

$margin-extra-large-2: 85px;
$margin-large-2: 85px;
$margin-medium-2: 66px;
$margin-small-2: 20px;
